type: spec.insomnia.rest/5.0
name: Sample Spec
meta:
  id: wrk_d2ccf870012746409044ae699c350ad1
  created: 1762964943671
  modified: 1762964943671
  description: ""
cookieJar:
  name: Default Jar
  meta:
    id: jar_b5de8707dcde073feb58d2e36e0309c4c8435a1a
    created: 1762964943675
    modified: 1762964943675
environments:
  name: Base Environment
  meta:
    id: env_b5de8707dcde073feb58d2e36e0309c4c8435a1a
    created: 1762964943674
    modified: 1762964943674
    isPrivate: false
spec:
  contents:
    openapi: 3.1.0
    info:
      title: Demo API
      description: An API featuring Quotes, Authors, Books, and a Word of the Day for
        technical demonstrations. This is a sample spec showing the best
        practices of an OpenAPI specification. Customers should modify this to
        meet their own requirements.
      version: 3.0.1
      contact:
        email: biswa.mohanty@abc.com
      x-allowed-consumers: etm-allow, evr-allow, exe-allow, mob-allow
      x-require-approval: true
      x-allowed-env: dev, QA, prd
    servers:
      - url: https://gateway.konghq.com
        description: ENV specific Kong Gateway for app team
    paths:
      /quotes:
        get:
          summary: Get All Quotes
          tags:
            - Quotes
          responses:
            "200":
              description: A successful response with a list of quotes.
              content:
                application/json:
                  schema:
                    type: array
                    items:
                      $ref: "#/components/schemas/Quote"
            "401":
              $ref: "#/components/responses/Unauthorized"
            "429":
              $ref: "#/components/responses/TooManyRequests"
            "500":
              $ref: "#/components/responses/InternalServerError"
            "503":
              $ref: "#/components/responses/ServiceUnavailable"
        post:
          summary: Create a New Quote
          tags:
            - Quotes
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/QuoteInput"
          responses:
            "201":
              description: Quote created successfully.
              content:
                application/json:
                  schema:
                    $ref: "#/components/schemas/Quote"
            "400":
              $ref: "#/components/responses/BadRequest"
            "401":
              $ref: "#/components/responses/Unauthorized"
            "429":
              $ref: "#/components/responses/TooManyRequests"
            "500":
              $ref: "#/components/responses/InternalServerError"
      /quotes/{quoteId}:
        get:
          summary: Get Quote by ID
          tags:
            - Quotes
          parameters:
            - name: quoteId
              in: path
              required: true
              schema:
                type: integer
          responses:
            "200":
              description: The requested quote.
              content:
                application/json:
                  schema:
                    $ref: "#/components/schemas/Quote"
            "401":
              $ref: "#/components/responses/Unauthorized"
            "404":
              $ref: "#/components/responses/NotFound"
            "429":
              $ref: "#/components/responses/TooManyRequests"
            "500":
              $ref: "#/components/responses/InternalServerError"
        put:
          summary: Update a Quote
          tags:
            - Quotes
          parameters:
            - name: quoteId
              in: path
              required: true
              schema:
                type: integer
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/QuoteInput"
          responses:
            "200":
              description: Quote updated successfully.
              content:
                application/json:
                  schema:
                    $ref: "#/components/schemas/Quote"
            "400":
              $ref: "#/components/responses/BadRequest"
            "401":
              $ref: "#/components/responses/Unauthorized"
            "404":
              $ref: "#/components/responses/NotFound"
            "429":
              $ref: "#/components/responses/TooManyRequests"
            "500":
              $ref: "#/components/responses/InternalServerError"
        delete:
          summary: Delete a Quote
          tags:
            - Quotes
          parameters:
            - name: quoteId
              in: path
              required: true
              schema:
                type: integer
          responses:
            "204":
              description: The quote was deleted successfully. No content is returned.
            "401":
              $ref: "#/components/responses/Unauthorized"
            "404":
              $ref: "#/components/responses/NotFound"
            "429":
              $ref: "#/components/responses/TooManyRequests"
            "500":
              $ref: "#/components/responses/InternalServerError"
    components:
      securitySchemes:
        BearerAuth:
          type: http
          scheme: bearer
          bearerFormat: JWT
        BasicAuth:
          type: http
          scheme: basic
          description: Use `client_id` in the field for username and `client_secret` in
            the field for password. Basic authentication encodes the username
            and password (separated by a colon) using Base64 before including it
            in the `Authorization` header.
      schemas:
        Quote:
          type: object
          properties:
            id:
              type: integer
            author:
              type: string
            category:
              type: string
            text:
              type: string
        QuoteInput:
          type: object
          properties:
            author:
              type: string
            category:
              type: string
            text:
              type: string
          required:
            - author
            - text
        ErrorIssue:
          type: object
          properties:
            field:
              type: string
              example: quoteId
            issue:
              type: string
              example: The provided ID must be a valid integer.
        ErrorResponse:
          type: object
          description: The standard error format for all API responses.
          properties:
            name:
              type: string
              example: VALIDATION_ERROR
            message:
              type: string
              example: Invalid data provided
            errorCode:
              type: string
              example: ERR0012521
            correlationId:
              type: string
              example: 7ed027ccd3c41
            traceId:
              type: string
              format: uuid
              example: 42761061-d1db-4ef0-a12b-909a2bc69e91
            issues:
              type: array
              items:
                $ref: "#/components/schemas/ErrorIssue"
      responses:
        BadRequest:
          description: "400 Bad Request: The server cannot process the request due to a
            client error (e.g., malformed request syntax, invalid request
            message framing, or deceptive request routing)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        Unauthorized:
          description: "401 Unauthorized: The client must authenticate itself to get the
            requested response. The API key is missing or invalid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        Forbidden:
          description: "403 Forbidden: The client does not have access rights to the
            content; that is, it is unauthorized, so the server is refusing to
            give the requested resource. Unlike 401, the client's identity is
            known to the server."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        NotFound:
          description: "404 Not Found: The server can not find the requested resource. In
            an API, this can also mean that the endpoint is valid but the
            resource itself does not exist."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        TooManyRequests:
          description: '429 Too Many Requests: The user has sent too many requests in a
            given amount of time ("rate limiting").'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        InternalServerError:
          description: "500 Internal Server Error: The server has encountered a situation
            it does not know how to handle."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        ServiceUnavailable:
          description: "503 Service Unavailable: The server is not ready to handle the
            request. Common causes are a server that is down for maintenance or
            that is overloaded."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  meta:
    id: spc_a4f59176c8364e4aa38ab002d875aca3
    created: 1762964943673
    modified: 1762965014366
